body{
    background-color:black;
    font-family:arial;
    color:white
    }
h1{
    color:grey;
    font-family:verdana
    }
.maindiv{
    background-color:white;
    color:black;
    width:500px;
    padding:20px;
    border-radius:25px;
    align:center
}
mark{
    background-color:yellow
}
button{
    background-color:whitesmoke
}
p{
    margin-left:100px
}
table{
    margin-left:100px;
    font-family:arial
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button{
    appearance:none;
    -webkit-appearance:none;
    -moz-appearance:none;
    margin:0px
}



